@charset "UTF-8";
/* CSS Document */

body{
	background: #eee;
}

a{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
}

a:hover{
	text-decoration:underline;
	text-transform: uppercase; 
	transition: all .1s;
	color:#0100FF;
}

a:active{
	text-decoration:underline;
	text-transform: uppercase; 
	transition: all .1s;
	color:#0100FF;
}

a:focus{
	text-decoration:underline;
	text-transform: uppercase; 
	transition: all .1s;
	color:#0100FF;
}

h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 30px;
	color:#000000;
	margin: 10px;
	padding: 5px;
	text-align: center;
}

#error {
	border-radius: 2px;
	color: brown;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px 5px;
	width: 50%;
	margin:2px;
	text-align: center;
	background: antiquewhite;
	border: 1px solid #CA4646;
}

#loginbox {
	background: #eee;
	color: #00E7FF;
	width: 20%;
	padding: 15px;
    border: 2px solid #DEDEDE;
    border-radius: 2px;
}

#loginbox input{
	align: center;
	border-left: 3px solid #00E7FF;
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	width: 90%;
	margin:2px;
	background: transparent;
}

#loginbox input:hover{
	border-left: 5px solid #00E7FF;
	border-right: 1px solid #00E7FF;
	border-top: 1px solid #00E7FF;
	border-bottom: 1px solid #00E7FF;
	color: #000000;
	transition: all .1s;
}

#loginbox input:active{
	border-left: 5px solid #00E7FF;
	border-right: 1px solid #00E7FF;
	border-top: 1px solid #00E7FF;
	border-bottom: 1px solid #00E7FF;
	color: #000000;
	transition: all .1s;
}

#loginbox input:focus{
	border-left: 5px solid #00E7FF;
	border-right: 1px solid #00E7FF;
	border-top: 1px solid #00E7FF;
	border-bottom: 1px solid #00E7FF;
	color: #000000;
	transition: all .1s;
}
input{
	font-size:15px;
	padding: 5px;
	font-family:Arial, Helvetica, sans-serif;
	color: #464646;
}

#button{
	font-family:Arial, Helvetica, sans-serif;
	color: #005DFF;
	border: 2px solid #00E7FF;
	background: transparent;
	width: 50%;
}

#button:hover{
	text-transform: uppercase; 
	transition: all .1s;
}

#button:active{
	text-transform: uppercase; 
	transition: all .1s;
}

#button:focus{
	text-transform: uppercase; 
	transition: all .1s;
}

.navlink{
	padding: 5px;
	width: 13%;
	float:left;
}

.navlink:hover{
	border-left: 5px solid #00E7FF;
	border-right: 1px solid #00E7FF;
	border-top: 1px solid #00E7FF;
	border-bottom: 1px solid #00E7FF;
	padding: 5px;
	width: 13%;
	float:left;
}

.navlink:active{
	border-left: 5px solid #00E7FF;
	border-right: 1px solid #00E7FF;
	border-top: 1px solid #00E7FF;
	border-bottom: 1px solid #00E7FF;
	padding: 5px;
	width: 13%;
	float:left;
}

.navlink:focus{
	border-left: 5px solid #00E7FF;
	border-right: 1px solid #00E7FF;
	border-top: 1px solid #00E7FF;
	border-bottom: 1px solid #00E7FF;
	padding: 5px;
	width: 13%;
	float:left;
}
.navbar{
	align-content:center;
}

